CREATE TABLE drivers (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nombre TEXT NOT NULL,
            contacto TEXT NOT NULL UNIQUE,
            password_hash TEXT NOT NULL,
            tipo_licencia TEXT NOT NULL CHECK(tipo_licencia IN ('A', 'B', 'C')),
            estado TEXT NOT NULL DEFAULT 'DISPONIBLE' CHECK(estado IN ('DISPONIBLE', 'OCUPADO')),
            fecha_registro DATETIME DEFAULT (datetime('now'))
        , search_status TEXT DEFAULT 'ON' CHECK(search_status IN ('ON', 'OFF')), experience_level TEXT DEFAULT '1yr', team_driving TEXT DEFAULT 'NO', available_start TEXT DEFAULT 'SOON', restrictions TEXT DEFAULT 'NO', verified INTEGER DEFAULT 1, verification_token TEXT, verification_expires TEXT, reset_token TEXT, reset_expires TEXT, status TEXT DEFAULT 'active', created_at TEXT, failed_attempts INTEGER DEFAULT 0, lockout_until TEXT, has_cdl INTEGER DEFAULT 0, license_types TEXT, endorsements TEXT, operation_types TEXT, experience_years INTEGER DEFAULT 0, job_preferences TEXT, has_truck INTEGER DEFAULT 0, payment_methods TEXT, work_relationships TEXT, availability TEXT, updated_at TEXT);
CREATE TABLE empresas (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nombre TEXT NOT NULL,
            contacto TEXT NOT NULL UNIQUE,
            password_hash TEXT NOT NULL,
            ciudad TEXT NOT NULL,
            estado TEXT NOT NULL DEFAULT 'ACTIVO',
            fecha_registro DATETIME DEFAULT (datetime('now'))
        , tier TEXT DEFAULT 'STANDARD' CHECK(tier IN ('STANDARD', 'GOLD')), creditos INTEGER DEFAULT 10, is_blocked INTEGER NOT NULL DEFAULT 0, blocked_reason TEXT, blocked_at TEXT, search_status TEXT DEFAULT 'ON' CHECK(search_status IN ('ON', 'OFF')), legal_name TEXT, address_line1 TEXT, address_state TEXT, contact_person TEXT, contact_phone TEXT, account_state TEXT DEFAULT 'REGISTERED' CHECK(account_state IN ('REGISTERED','ACTIVE','SUSPENDED')), created_at DATETIME DEFAULT 0, verified INTEGER DEFAULT 1, verification_token TEXT, verification_expires TEXT, reset_token TEXT, reset_expires TEXT, city TEXT, failed_attempts INTEGER DEFAULT 0, lockout_until TEXT);
CREATE TABLE request_visibility (
            request_id INTEGER NOT NULL,
            driver_id INTEGER NOT NULL,
            ronda INTEGER NOT NULL,
            fecha_publicacion DATETIME DEFAULT (datetime('now')),
            PRIMARY KEY (request_id, driver_id),
            FOREIGN KEY (request_id) REFERENCES solicitudes(id),
            FOREIGN KEY (driver_id) REFERENCES drivers(id)
        );
CREATE TABLE invoices (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            company_id INTEGER NOT NULL,
            billing_week TEXT NOT NULL, -- Format: YYYY-WW
            issue_date TEXT, -- ISO8601 timestamp
            status TEXT NOT NULL DEFAULT 'pending' CHECK(status IN ('pending', 'paid', 'void')),
            currency TEXT NOT NULL DEFAULT 'USD',
            subtotal_cents INTEGER NOT NULL DEFAULT 0,
            total_cents INTEGER NOT NULL DEFAULT 0,
            created_at TEXT DEFAULT (datetime('now')), due_date TEXT, paid_at TEXT, paid_method TEXT,
            UNIQUE(company_id, billing_week),
            FOREIGN KEY (company_id) REFERENCES empresas(id)
        );
CREATE TABLE invoice_items (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            invoice_id INTEGER NOT NULL,
            ticket_id INTEGER NOT NULL UNIQUE,
            price_cents INTEGER NOT NULL,
            created_at TEXT DEFAULT (datetime('now')),
            FOREIGN KEY (invoice_id) REFERENCES invoices(id),
            FOREIGN KEY (ticket_id) REFERENCES tickets(id)
        );
CREATE TABLE webhook_events (
            id TEXT PRIMARY KEY,
            provider TEXT,
            received_at DATETIME DEFAULT (datetime('now'))
        );
CREATE TABLE company_match_prefs (
            company_id INTEGER PRIMARY KEY,
            req_license TEXT DEFAULT 'Any',
            req_experience TEXT DEFAULT 'Any',
            req_team_driving TEXT DEFAULT 'Either',
            req_start TEXT DEFAULT 'Flexible',
            req_restrictions TEXT DEFAULT 'No',
            updated_at DATETIME DEFAULT CURRENT_TIMESTAMP,
            FOREIGN KEY(company_id) REFERENCES empresas(id)
        );
CREATE TABLE potential_matches (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            company_id INTEGER NOT NULL,
            driver_id INTEGER NOT NULL,
            match_score INTEGER DEFAULT 1,
            status TEXT DEFAULT 'NEW',
            created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
            FOREIGN KEY(company_id) REFERENCES empresas(id),
            FOREIGN KEY(driver_id) REFERENCES drivers(id),
            UNIQUE(company_id, driver_id)
        );
CREATE TABLE IF NOT EXISTS "events_outbox" (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    event_name TEXT NOT NULL,
                    created_at TEXT NOT NULL,
                    company_id INTEGER,
                    driver_id INTEGER,
                    request_id INTEGER, -- NULLABLE
                    ticket_id INTEGER,
                    metadata TEXT,
                    processed INTEGER DEFAULT 0
                , processed_at TEXT, process_status TEXT DEFAULT 'pending' CHECK(process_status IN ('pending', 'sent', 'failed')), last_error TEXT, send_attempts INTEGER DEFAULT 0, audience_type TEXT, audience_id TEXT, event_key TEXT, realtime_sent_at DATETIME, queue_status TEXT DEFAULT 'pending', queued_at TEXT);
CREATE TABLE tickets (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            company_id INTEGER NOT NULL,
            driver_id INTEGER NOT NULL,
            request_id INTEGER NOT NULL UNIQUE,
            price_cents INTEGER NOT NULL,
            currency TEXT NOT NULL DEFAULT 'USD',
            billing_status TEXT NOT NULL DEFAULT 'unbilled' CHECK(billing_status IN ('unbilled', 'billed', 'void')),
            created_at TEXT DEFAULT (datetime('now')),
            updated_at TEXT,
            billing_week TEXT, amount_cents INTEGER DEFAULT 0, paid_at TEXT, payment_ref TEXT, billing_notes TEXT, stripe_checkout_session_id TEXT, stripe_payment_intent_id TEXT, stripe_customer_id TEXT,
            FOREIGN KEY (company_id) REFERENCES empresas(id),
            FOREIGN KEY(driver_id) REFERENCES drivers(id),
            FOREIGN KEY(request_id) REFERENCES solicitudes(id)
        );
CREATE UNIQUE INDEX idx_events_request_name 
        ON events_outbox (request_id, event_name)
        WHERE request_id IS NOT NULL
    ;
CREATE TABLE IF NOT EXISTS "solicitudes" (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                empresa_id INTEGER NOT NULL,
                driver_id INTEGER,
                licencia_req TEXT NOT NULL CHECK(licencia_req IN ('A', 'B', 'C')),
                ubicacion TEXT NOT NULL,
                tiempo_estimado INTEGER NOT NULL,
                estado TEXT NOT NULL DEFAULT 'PENDIENTE' CHECK(estado IN ('PENDIENTE', 'EN_REVISION', 'ACEPTADA', 'EXPIRADA', 'FINALIZADA', 'CANCELADA')),
                fecha_creacion DATETIME DEFAULT (datetime('now')),
                fecha_expiracion DATETIME NOT NULL,
                fecha_cierre DATETIME,
                cancelado_por TEXT,
                ronda_actual INTEGER DEFAULT 1,
                fecha_inicio_ronda DATETIME,
                FOREIGN KEY (empresa_id) REFERENCES empresas(id),
                FOREIGN KEY (driver_id) REFERENCES drivers(id)
            );
CREATE TABLE worker_heartbeat (
                    worker_name TEXT PRIMARY KEY,
                    last_seen TEXT NOT NULL,
                    status TEXT,
                    metadata TEXT
                );
CREATE TABLE stripe_webhook_events (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                stripe_event_id TEXT UNIQUE NOT NULL,
                type TEXT NOT NULL,
                status TEXT DEFAULT 'processed',
                created_at TEXT NOT NULL,
                processed_at TEXT,
                last_error TEXT
            );
CREATE TABLE ratings (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                ticket_id INTEGER NOT NULL,
                from_type TEXT NOT NULL CHECK (from_type IN ('empresa','driver')),
                from_id INTEGER NOT NULL,
                to_type TEXT NOT NULL CHECK (to_type IN ('empresa','driver')),
                to_id INTEGER NOT NULL,
                score INTEGER NOT NULL CHECK(score BETWEEN 1 AND 5),
                comment TEXT,
                created_at TEXT NOT NULL,
                CONSTRAINT uq_ticket_rater UNIQUE(ticket_id, from_type)
            );
CREATE INDEX idx_ratings_ticket ON ratings(ticket_id);
CREATE INDEX idx_ratings_target ON ratings(to_type, to_id);
CREATE TABLE jobs_queue (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                job_type TEXT NOT NULL,
                payload_json TEXT NOT NULL,
                status TEXT NOT NULL DEFAULT 'pending', -- pending, processing, done, failed, dead
                attempts INTEGER NOT NULL DEFAULT 0,
                max_attempts INTEGER NOT NULL DEFAULT 5,
                run_at TEXT NOT NULL,
                locked_by TEXT,
                locked_at TEXT,
                last_error TEXT,
                created_at TEXT NOT NULL,
                updated_at TEXT,
                idempotency_key TEXT UNIQUE
            , source_event_id INTEGER);
CREATE INDEX idx_jobs_fetch ON jobs_queue(status, run_at);
CREATE INDEX idx_jobs_lock ON jobs_queue(locked_at);
CREATE INDEX idx_jobs_type ON jobs_queue(job_type);
CREATE TABLE admin_users (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                email TEXT UNIQUE NOT NULL,
                password_hash TEXT NOT NULL,
                role TEXT DEFAULT 'admin', -- admin, superadmin
                created_at TEXT NOT NULL
            );
CREATE TABLE admin_audit_log (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                admin_id INTEGER,
                action TEXT NOT NULL,
                target_resource TEXT,
                target_id TEXT,
                ip_address TEXT,
                timestamp TEXT NOT NULL
            );
CREATE INDEX idx_audit_time ON admin_audit_log(timestamp);
CREATE INDEX idx_events_queue ON events_outbox(queue_status);
CREATE UNIQUE INDEX idx_jobs_source_event ON jobs_queue(source_event_id);
CREATE TABLE driver_profiles (
        driver_id INTEGER PRIMARY KEY,
        has_cdl INTEGER DEFAULT 0, 
        license_types TEXT, 
        endorsements TEXT, 
        operation_types TEXT, 
        experience_years INTEGER,
        experience_range TEXT, 
        job_preferences TEXT, 
        has_truck INTEGER DEFAULT 0, 
        payment_methods TEXT, 
        work_relationships TEXT, 
        updated_at TEXT,
        FOREIGN KEY(driver_id) REFERENCES drivers(id)
    );
CREATE TABLE company_requirements (
        company_id INTEGER PRIMARY KEY,
        req_cdl INTEGER DEFAULT 0, 
        req_license_types TEXT, 
        req_endorsements TEXT, 
        req_operation_types TEXT, 
        req_experience_range TEXT, 
        req_modalities TEXT, 
        req_truck INTEGER DEFAULT 0, 
        offered_payment_methods TEXT, 
        req_relationships TEXT, 
        availability TEXT, 
        updated_at TEXT, req_experience_years INTEGER DEFAULT 0,
        FOREIGN KEY(company_id) REFERENCES empresas(id)
    );
CREATE TABLE matches (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        company_id INTEGER,
        driver_id INTEGER,
        status TEXT DEFAULT 'pending', 
        score INTEGER DEFAULT 0,
        created_at TEXT,
        updated_at TEXT,
        FOREIGN KEY(company_id) REFERENCES empresas(id),
        FOREIGN KEY(driver_id) REFERENCES drivers(id)
    );
CREATE INDEX idx_matches_company ON matches(company_id);
CREATE INDEX idx_matches_driver ON matches(driver_id);
CREATE INDEX idx_matches_status ON matches(status);
/* No STAT tables available */
