CREATE TABLE drivers (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nombre TEXT NOT NULL,
            contacto TEXT NOT NULL UNIQUE,
            password_hash TEXT NOT NULL,
            tipo_licencia TEXT NOT NULL CHECK(tipo_licencia IN ('A', 'B', 'C')),
            estado TEXT NOT NULL DEFAULT 'DISPONIBLE' CHECK(estado IN ('DISPONIBLE', 'OCUPADO')),
            fecha_registro DATETIME DEFAULT (datetime('now'))
        , search_status TEXT DEFAULT 'ON' CHECK(search_status IN ('ON', 'OFF')), experience_level TEXT DEFAULT '1yr', team_driving TEXT DEFAULT 'NO', available_start TEXT DEFAULT 'SOON', restrictions TEXT DEFAULT 'NO', email_verified INTEGER DEFAULT 0, email_verification_token_hash TEXT, email_verification_expires_at INTEGER, verify_token_hash TEXT, verify_token_expires_at INTEGER, email_verification_token TEXT, verified INTEGER DEFAULT 0, verification_token TEXT, verification_expires TEXT, reset_token TEXT, reset_expires TEXT, status TEXT DEFAULT 'active', created_at TEXT, failed_attempts INTEGER DEFAULT 0, lockout_until TEXT, has_cdl BOOLEAN DEFAULT FALSE, license_types TEXT DEFAULT '[]', endorsements TEXT DEFAULT '[]', operation_types TEXT DEFAULT '[]', experience_years INTEGER DEFAULT 0, experience_range TEXT DEFAULT '', job_preferences TEXT DEFAULT '[]', has_truck BOOLEAN DEFAULT FALSE, payment_methods TEXT DEFAULT '[]', work_relationships TEXT DEFAULT '[]', updated_at TEXT DEFAULT NULL, availability TEXT DEFAULT 'Inmediata', phone TEXT);
CREATE TABLE empresas (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nombre TEXT NOT NULL,
            contacto TEXT NOT NULL UNIQUE,
            password_hash TEXT NOT NULL,
            ciudad TEXT NOT NULL,
            estado TEXT NOT NULL DEFAULT 'ACTIVO',
            fecha_registro DATETIME DEFAULT (datetime('now'))
        , tier TEXT DEFAULT 'STANDARD' CHECK(tier IN ('STANDARD', 'GOLD')), creditos INTEGER DEFAULT 10, is_blocked INTEGER NOT NULL DEFAULT 0, blocked_reason TEXT, blocked_at TEXT, legal_name TEXT, address_line1 TEXT, address_state TEXT, contact_person TEXT, contact_phone TEXT, account_state TEXT DEFAULT 'REGISTERED' CHECK(account_state IN ('REGISTERED','ACTIVE','SUSPENDED')), search_status TEXT DEFAULT 'ON' CHECK(search_status IN ('ON', 'OFF')), created_at DATETIME DEFAULT 0, email_verified INTEGER DEFAULT 0, email_verification_token_hash TEXT, email_verification_expires_at INTEGER, verify_token_hash TEXT, verify_token_expires_at INTEGER, email_verification_token TEXT, verified INTEGER DEFAULT 0, verification_token TEXT, verification_expires TEXT, reset_token TEXT, reset_expires TEXT, city TEXT, failed_attempts INTEGER DEFAULT 0, lockout_until TEXT);
